.techList{
    background-color: #212529;
    border-radius: 4px;
    width: 92.5vw;
    height: 400px;
    padding-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}
.card{
    background: #121214;
    border-radius: 4px;
    margin-bottom: 22px;
    width: 83vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    max-width: 717px;
}
.card:hover{
    background: #343B41;
    cursor: pointer;
}
.card:hover .cardStatus{
    color: #f8f9fa;
}
.cardTitle{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #f8f9fa;
}
.cardStatus{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #868E96;
}
select{
    cursor: pointer;
}